* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
    line-height: 1.4;
    min-height: 100vh
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    padding: 7vw;
    flex: 1;
    overflow-y: scroll;
}